.comment-index {
  padding-top: 27px;
}

.comment-box {
  position: relative; // for reply
  padding: 20px 0 0 0;
  width: 570px;
}

.comment-reply-box {
  position: relative; // for reply
  padding: 20px 0 0 0;
  width: 1px;
  display: table;
}

.comment-container {
  display: flex;
  justify-content: flex-start;
}

.comment-form-container {
  display: flex;
  padding: 20px 0;
  justify-content: flex-start;
}

.comment-avatar {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  padding: 0 10px;
}

.comment-blank-avatar {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  margin: 0 10px;
  background: gainsboro;
}

.comment-form {
  width: 95%;
  // height: 50px;
  margin: 0 auto;
  border: 1px solid #8e8e8e;
  border-radius: 14px;
  display: flex;
}

.comment-form>a {
  text-decoration: none;
  margin: auto 10px;
  color: #0388ce;
  font-size: 110%;
  transition: all .5s ease-in;
  font-family: "Conv_Brandon_med";
}
.comment-form>a:first-child {
  margin-left: 30px;
}

.comment-form>a:hover {
  animation: small-bounce 0.5s;
}

@keyframes small-bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

.comment-form>a:last-child {
  color: indianred;
}

.comment-form>i {
  // padding: 0 10px;
  margin: 9px 0;
}

.comment-body-input {
  height: 50px;
  width: 100%;
  padding: 5px;
  font-size: 120%;
  border: none;
  background: rgba(0,0,0,0);
  color: #464646;
}

.comment-body-input:focus {
  outline: none;
}

.hidden-input {
  display: none;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.send-icon {
  width: 35px;
  padding: 10px 5px;
  cursor: pointer;
}

.img-icon {
  cursor: pointer;
  padding: 10px 5px;
  width: 35px;
  height: 35px;
}

.comment-body {
  width: 95%;
  margin: 0 auto;
  // border: 1px solid #8e8e8e;
  background: aliceblue;
  border-radius: 14px;
}

.comment-body>p:first-child {
  margin: 5px 20px;
  font-size: 115%;
}

.comment-body>p:last-child {
  margin: 0 15px 10px 25px;
  font-size: 110%;
}

.reply {
  position: absolute;
  left: 75px;
  cursor: pointer;
  font-family: "Conv_Brandon_med";
  margin-top: 10px;
  border: 1px solid #0388ce;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 90%;
}

.reply:hover {
  color: #0388ce;
  // border: 1px solid #0388ce;
}

.comment-pic {
  width: 150px;
  height: auto;
  border-radius: 14px;
  margin: 10px 0 0 70px;
}

.reply-area {
  margin: 50px 0 0 70px;
  width: 500px; //dont change
}
