.header-wrap {
  height: 520px;
}

.post-header-container {
  width: 100%;
  height: 484px;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 10px;
  transition: all 0.15s ease-in-out;
  position: relative; // for gradient
}

.sticky-header-container {
  background: white;
  border-bottom: 1px solid #d8d8d8;
}


.detail-navbar-container {
  width: 880px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: relative; //for right column
  margin: 0 auto;
}

.right-col {
  position: absolute;
  right: 0;
  top: 80px;
  left: 605px; //+ 18 to have extra space on left
  // background: green;
}

.sticky-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.right-col>p {
  font-family: "Conv_Brandon_med";
  font-size: 120%;
  padding: 32px 0 16px 0;
}

.detail-button {
  font-family: "Conv_Brandon_med";
  height: 100%;
  padding: 18px 0;
  margin: 0 35px 0 0;
  border: none;
  background: none;
  color: #0a7f78;
  font-size: 115%;
  letter-spacing: 0.7px;
  line-height: 1;
  outline: none;
}

.detail-button:hover {
  cursor: pointer;
  color: #464646;
}

.button-active {
  border-bottom: 2px solid #0a7f78;
}

.sharing>img{
  size: 10x;
  padding: 18px 8px 18px 8px;
}

.row {
  width: 100%;
  display: flex;
}

.left-col {
  width: 587px; //user this to calculate left position for right col
}

.post-title {
  font-family: "Conv_Brandon_med";
  font-size: 160%;
  padding: 30px 0 18px 0;
  position: relative;
}

.post-sub-title {
  font-family: "Conv_Brandon_med";
  font-size: 120%;
  padding-bottom: 32px;
  background-image: linear-gradient(to right, #909090 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 2px;
  background-repeat: repeat-x;
}

.rating {
  padding-bottom: 20px;
  background-image: linear-gradient(to right, #909090 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 2px;
  background-repeat: repeat-x;
}

.rating>img {
  width: 19px;
  padding-right: 10px;
  cursor: pointer;
}

.rating>span {
  font-family: "Conv_Brandon_reg";
  font-size: 90%;
}

.difficulty {
  padding: 20px 0;
  background-image: linear-gradient(to right, #909090 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 2px;
  background-repeat: repeat-x;
}

.sub-title {
  font-family: "Conv_Brandon_med";
  font-size: 140%;
  padding-right: 35px;
}

.difficulty span:last-child {
  font-family: "Conv_Brandon_reg";
  font-size: 135%;
}

.time {
  display: flex;
  justify-content: center;
  padding: 35px 0;
  background-image: linear-gradient(to right, #909090 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 2px;
  background-repeat: repeat-x;
}

.time>div {
  width: 127px;
  height: 103px;
  text-align: center;
  position: relative;
}

.min {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-family: "Conv_Brandon_med";
  font-size: 110%;
  line-height: 0.9;
}

.min>span {
  font-family: "Conv_Brandon_light";
  font-size: 90%;
  color: black;
  display: block;
}

.time div>p:last-child {
  ont-family: "Conv_Brandon_med";
  letter-spacing: 0.5px;
  position: absolute;
  bottom: -7%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 115%;
}

canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ingredients {
  padding: 20px 0;
  // background-image: linear-gradient(to right, #909090 33%, rgba(255,255,255,0) 0%);
  // background-position: bottom;
  // background-size: 7px 2px;
  // background-repeat: repeat-x;
  border-bottom: 1px solid #464646;
}

.serving {
  margin: 10px 0;
  font-family: "Conv_Brandon_med";
  font-size: 90%;
  letter-spacing: 0.9px;
  padding-bottom: 17px;
}

.serving>button {
  font-family: "Conv_Brandon_bld";
  margin: 0 7px;
  background: #0a7f78;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: none;
  padding: 0;
  outline: 0;
}

.serving>button:hover {
  background: #0da299;
}

.ingredients td {
  min-width: 127px;
  min-height: 23px;
}

// Step is for recipe show:
.step {
  padding-bottom: 20px;
}

.step-title {
  font-family: "Conv_Brandon_med";
  font-size: 140%;
  padding: 0 0 10px 0;
}

.step-body {
  font-size: 110%;
  color: #303030;
}

.suggest-sentence {
  padding-bottom: 16px;
  font-family: "Conv_Brandon_med";
  font-size: 120%;
}

.suggest-item {
  // width: 274px;
  color: #464646;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.suggest-pic-container {
  width: 133px;
  height: 100px;
  overflow: hidden;
  border-radius: 12px;
  // position: relative;
}

.suggest-pic {
  height: 100%;
}

.suggest-item>p {
  font-family: "Conv_Brandon_reg";
  font-size: 90%;
  // margin-left: 40px;
  width: 133px;
  padding-left: 16px;
  display: inline-block;
}

.post-author {
  min-height: 120px;
  background-image: linear-gradient(to right, #909090 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 2px;
  background-repeat: repeat-x;
  display: flex;
  justify-content: flex-start;
}

.post-author-pic {
  width: 75px;
  height: 75px;
  margin: 24px 0;
  display: inline-block;
  padding-right: 17.6px;
}

.post-author-username {
  padding-top: 24px;
  font-family: "Conv_Brandon_med";
  font-size: 140%;
}

.post-author-role {
  font-family: "Conv_Brandon_reg";
  padding-top: 5px;
  font-size: 100%;
}

.text {
  position: relative; // for scroll point #st
  padding-top: 35px;
  font-size: 110%;
  color: #303030;
}

#st {
  position: absolute;
  top: -50px;
  z-index: -1;
}

#ov {
  position: absolute;
  top: -35px;
  z-index: -1;
}
