.item-title {
  font-family: "Conv_Brandon_med";
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 170%;
  display: block;
  color: #464646;
  margin: 0 0 17.68px 10px;
}

.item-index {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;

}

.index-item {
  padding: 0 10px;
  width: 200px;
  height: 391px;
  list-style: none;
  cursor: pointer;
}

.index-item>a {
  text-decoration: none;
}

.index-item-pic-container {
  width: 200px;
  height: 266px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  transition: all .15s ease-in-out; //to initialize transition when event happens
}

.index-item:hover {
  .index-item-pic-container {
    transform: scale(1.02);  //need to initialize in original element
    box-shadow: 0 0 10px #979797;
  }
  .index-title {
    color: #464646;
    text-decoration: none;
  }
}

.index-item-pic {
  height: 266px;
  transform: translateX(-25%);
}
.index-white {
  background: rgba(255,255,255,0.05);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2
}

.index-gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 60%, rgba(0,0,0,0.5) 100%);
}

.index-time {
  color: white;
  font-size: 14.08px;
  font-weight: bolder;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 4;
  line-height: 1.35;
}

.index-title {
  font-family: "Conv_Brandon_med";
  font-size: 115%;
  margin: 9px 0 0 0;
  color: #606060;
  text-decoration: none;
}
