footer {
  // height: 200px;
  border-top: 1px solid #d8d8d8;
  padding: 40px 0 60px 0;
}

.my-messages {
  font-family: "Conv_Brandon_med";
  font-size: 130%;
  // color: royalblue;
  text-align: center;
  vertical-align: center;
}

.my-messages img {
  transition: all .15s ease-in-out;
}

.my-messages img:hover {
  padding: 0 10px;
  transform: scale(1.1);
}

.thank-you {
  font-family: "Conv_Brandon_reg";
  font-size: 115%;
  color: #FF0000;
  text-align: center;
  margin: 0 auto;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-icon {
  padding: 20px;
  width: 50px;
  transition: all .5s ease-in-out;
}

.social-icon:hover {
  animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
