
.header-row {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(216,216,216);
  padding: 0 35.2px 0 35.2px;
  margin-top: -10px;
}

.logo {
  font-family: "Conv_Brandon_med";
  margin: 0 17.6px 0 0;
  /* font-weight: bold; */
  font-size: 37px;
  padding: 10px 45px 0 0;
}

.navigation, .right-menu {
  display: flex;
  justify-content: flex-start;
  /* margin-top: 7px; */
  margin: 30px 0 12px 0;
}

.right-menu {
  position: absolute;
  right: 50.2px;
  top: 3px;
}

.navigation>li>a, .right-menu>a {
  font-family: "Conv_Brandon_med";
  font-weight: lighter;
  font-size: 115%;
  color: #8e8e8e;
  text-decoration: none;
}

.right-menu>a {
  vertical-align: bottom;
  margin-top: 15px
  /* padding: 0; */
}

.navigation>li {
  padding-right: 25px;
  list-style: none;
}

.navigation a {
  /* padding: 0; */
}

.navigation a:hover {
  /* background: black; */
  color: #464646;
  border-bottom: 0.5px solid #464646;
}

.right-menu>a {
  font-size: 95%;
  padding: 0 12.5px;
  border-left: 1px solid #8e8e8e;
}

.searchIcon {
  width: 20px;
  height: 20px;
  padding: 0 10px;
}

.profile-pic {
  padding: 0 12.5px;
  width: 30px;
  height: 30px;
  border-left: 1px solid #8e8e8e;
  line-height: 1;
  transform: translateY(-20%);
}

/*dropdown*/
.username1 {
  cursor: pointer;
  font-family: "Conv_Brandon_med";
  font-size: 110%;
  color: black;
  /* margin-top: 10px; */
}

.user-dropdown {
  min-width: 300px;
  position: absolute;
  right: -20px;
  top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0,0,0,0.13);
}

.user-info {
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(242,242,242);
}

.user-text {
  line-height: 0.9;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 60px 0 0;
}

.username2 {
  font-size: 120%;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.user-info img {
  width: 75px;
  height: 75px;
  margin: 25px;
  border-radius: 10px;
}

.email {
  font-size: 80%;
}

.logout {
  cursor: pointer;
  font-size: 100%;
  color: rgb(10, 127, 120);
  padding: 15px 0;
  margin: 0 0 0 50%;
  transform: translateX(-25%);
}
