
.header-row {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(216,216,216);
  padding: 0 35.2px 0 35.2px;
  margin-top: -10px;
}

.logo {
  margin: 0 17.6px 0 0;
  font-weight: 900;
  font-size: 35px;
  padding-right: 45px;
}

.navigation, .right-menu {
  display: flex;
  justify-content: flex-start;
  /* margin-top: 7px; */
  margin: 19px 0 12px 0;
}

.navigation {
  padding-right: 38%;
}

.right-menu {
  position: absolute;
  right: 35.2px;
  top: 0;
}

.navigation>li>a, .right-menu>a {
  font-size: 110%;
  color: #8e8e8e;
  text-decoration: none;
}

.navigation>li {
  padding-right: 25px;
  list-style: none;
}

.navigation a {
  padding: 0;
}

.navigation a:hover {
  /* background: black; */
  color: #464646;
  border-bottom: 0.5px solid #464646;
}

.right-menu>a {
  font-size: 95%;
  padding: 0 12.5px;
  border-left: 1px solid #8e8e8e;
}

.searchIcon {
  width: 20px;
  height: 20px;
  padding: 0 12.5px;
  margin-top: 3px;
}

/*dropdown*/
.profile-pic {
  padding: 0 12.5px;
  width: 30px;
  height: 30px;
  border-left: 1px solid #8e8e8e;
  line-height: 1;
}

.right-menu>p {
  cursor: pointer;
}

.username {
  font-size: 110%;
  posistion: relative;
  margin: 0;
  color: black;
}

.user-dropdown {
  min-width: 300px;
  position: absolute;
  right: -20px;
  top: 50px;
  /* background: green; */
  border-radius: 10px;
  /* border: 1px solid #8e8e8e; */
  box-shadow: 0 0 16px rgba(0,0,0,0.13);
}

.user-info {
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(242,242,242);
}

.user-text {
  line-height: 0.5;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 60px 0 0;
}

.user-dropdown img {
  width: 75px;
  height: 75px;
  margin: 25px;
  border-radius: 10px;
}

.email {
  font-size: 80%;
}

.logout {
  cursor: pointer;
  font-size: 100%;
  color: rgb(10, 127, 120);
  padding: 15px 0;
  margin: 0 0 0 50%;
  transform: translateX(-25%);
}
