// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-section {
  width: 880px;
  display: block;
  margin: 0 auto;
  padding: 100px 10px 0 10px;
}
